# Node/Expo/React Native
node_modules/
.npm/
.expo/
.expo-shared/
web-build/
dist/
build/
.android/
.ios/
.gradle/
Pods/
*.iml
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
